.message {
  color:blue;
}

.tag {
  color: red;
}

.name {
  color:green;
}

.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  background-color: aquamarine;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.css-7ldjcq-MuiGrid-root {
  color: blueviolet;
  display: flex;
}